<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vlwk.invent">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".aActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClosetAdd1Activity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
        <activity android:name=".SimilarActivity" />
        <activity
            android:name=".InfoActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
        <activity
            android:name=".AmazonActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
        <activity
            android:name=".Amazon2Activity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
        <activity
            android:name=".ZMSActivity"
            android:parentActivityName=".ConfirmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
        <activity android:name=".ConfirmActivity">
            android:name=".ZMSActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vlwk.invent.HomeActivity" />
        </activity>
    </application>

</manifest>